body{
    margin: 0;
    padding: 0;
}
.grid-container{
    margin-top: 0%;
    display: grid;
    justify-content: center;
    align-items: top; 
    grid-template-columns: 120px 310px 600px auto;
    
}
.left-item{
    margin-top:5%;
    display:flex;
    flex-direction: column;
}
.right-item{
    margin-top:3%;
}
#desc{
    width: 80%;
    border-style: none;
    text-align: center;
    height: 1.2rem;
}
#desc:focus {
    outline: 0;
}
