body{
    margin: 0;
    padding: 0;
}
.grid-container{
    margin-top: 2%;
    display: grid;
    justify-content: center;
    align-items: top; 
    grid-template-columns: 300px 200px 500px;
}
.left-item{
    margin-left: 30%;
    display:flex;
    flex-direction: column;
}
.right-item{

    margin-left: 60%;
}